class IndexWork extends React.Component {
    constructor(props)
    {
        super(props);
    }

    render()
    {
        return (
            <div className="plusing-container">
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
                <div className="grid-item">
                    <div className="item1">
                        <img src={"<%= image_url('hammer_gray.svg') %>"} width="40" />
                    </div>
                    <div className="item2">Main</div>
                    <div className="item3">Footer</div>
                </div>
            </div>
        );
    }
}
