<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @work.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @work.end %>
</p>

<p>
  <strong>Isfinished:</strong>
  <%= @work.isFinished %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @work.budget %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work.Company %>
</p>

<p>
  <strong>User:</strong>
  <%= @work.User %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
