<div class="row window">
    <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <div class="row">
            <div class="col-6">
                <%= link_to users_path, class: "link-plusing", style: "float: left;margin-right: 15px;" do %>
                  <img src="<%= image_url("back.svg") %>" width="30">
                <% end %>
                <h5 class="table-title">Editar usuário</h5>
            </div>
            <div class="col-6" style="text-align: right;">
                <%= link_to @user, class: "link-plusing", style: "float: right;" do %>
                    <img src="<%= image_url("view.svg") %>" width="30">
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <%= react_component 'UserForm', authenticity_token: form_authenticity_token, user: @user, user_types: UserType.all.order(id: :desc), jobs: @jobs, access: @access, branch_id: @branch_id, branches: Branch.where("membership_id = ?", Branch.find(current_user.branch_id).membership_id) %>
            </div>
        </div>
    </div>
</div>
