<div class="row window">
    <div class="col-md-12">
        <p id="notice"><%= notice %></p>
        <div class="row">
            <div class="col-6">
                <h5 class="table-title">Usuários</h5>
            </div>
            <div class="col-6" style="text-align: right;">
                <%= link_to new_user_path, class: "link-plusing", style: "float: right;" do %>
                  <img src="<%= image_url("plus.svg") %>" width="30">
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="plusing table-borderless">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th>Tipo</th>
                      <th style="text-align: center;" colspan="3">Ações</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @users.each do |user| %>
                          <tr>
                            <td onclick="window.location='<%= user_path(user) %>'"><%= user.name %></td>
                            <td onclick="window.location='<%= user_path(user) %>'"><%= user.email %></td>
                            <td onclick="window.location='<%= user_path(user) %>'"><%= user.user_type.description %></td>
                            <td>
                                <%= link_to edit_user_path(user), class: "link-plusing" do %>
                                    <img src="<%= image_url("edit.svg") %>" width="18">
                                <% end %>
                            </td>
                            <td style="text-align: right;">
                                <%= link_to user, method: :delete, data: { confirm: 'Deletar encarregado? Isso o desvinculará de todas as obras.' }, class: "link-plusing" do %>
                                    <img src="<%= image_url("delete.svg") %>" width="18">
                                <% end %>
                            </td>
                          </tr>
                    <% end %>
                  </tbody>
                </table>
             </div>
        </div>
    </div>
</div>
