<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @weather.type %>
</p>

<p>
  <strong>Impracticable:</strong>
  <%= @weather.impracticable %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
